*{
    background-color: black;
    color: white;
}
/* h1{
    background-color: black;
    color: tomato;
} */
button{
    margin-right: 10px;
}

.para{
    color: tomato;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}